@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

:root {
    --primary-color: #d6d3d3; /* Cor principal */
    --secondary-color: #e3d344; /* Cor secundária */
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    scroll-behavior: smooth; /* Transição suave para a navegação */
}
/* Estilos principais do site */
body {
    font-family: "Merriweather", serif;
    font-weight: 500;
    font-style: normal;
    background: url('../img/BG-G.png') no-repeat center center fixed;
    background-size: cover;
    color: #d6d3d3;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
@media (max-width: 1000px) {
    body {
        max-width: 100vw;
        background: url('../img/BG-G.png') repeat;
    }
}
@supports (-webkit-touch-callout: none) {
    body {
        -webkit-overflow-scrolling: touch; /* Rolagem suave no Safari móvel */
        overflow-x: hidden;
        overflow-y: auto;
    }
}

header {
    background: rgba(50, 49, 49, 0.8);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 5px 0px 0px;
    position: fixed;
    top: 0;
    width: 100vw;
    max-height: 5vh;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
@media (max-width: 1000px) {
    header {
        width: 100vw;
    }
}


section {
    height: 100vh;
    width: 100vw;
}
@media (max-width: 1000px) {
    section {
        overflow: hidden;
    }
}
@supports (-webkit-touch-callout: none) {
    section {
        min-height: 100vh;
    }
}

.logo {
    height: 30px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    transition: all 3s ease-in;
}

.home-bt {
    height: 30px;
}

.home-bt:hover {
    opacity: 1;
    content: url('../img/Buttons-G/Home-2.png');
}

.about-bt {
    height: 30px;
}

.about-bt:hover {
    opacity: 1;
    content: url('../img/Buttons-G/About-2.png');
}

.contact-bt {
    height: 30px;
}

.contact-bt:hover {
    opacity: 1;
    content: url('../img/Buttons-G/Contact-2.png');
}
 
#home {
    display: flex;
    align-items: center;
    justify-content: center;
}

#home .album-title {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
}
@media (max-height: 700px) {
    #home .album-title {
        width: 50%;
    }
}

#home .album-title .name {
    height: 20%;
}
#home .album-title .name img {
    height: 70%;
}

@media (max-width: 1000px) {
    #home .album-title {
        width: 50%;
        max-height: 100%;
        align-items: center;
        justify-content: center;
    }
    #home .album-title .name {
        height: 20%;
        max-width: 100%;
    }
    #home .album-title .name img {
        max-height: 70%;
        max-width: 100%;
    }
}

/* Container principal do álbum */
#home .album-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center; /* Para centralizar o conteúdo */
    overflow: hidden;
}

/* Estilo para cada foto */
#home .photo {
    width: calc(25% - 15px);
    margin-bottom: 10px;
    border-radius: 10px;
    overflow: hidden;
}

/* Estilo das imagens dentro do álbum */
#home .photo img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.5s ease-in-out;
}

/* Efeito de hover nas imagens */
#home .photo img:hover {
    opacity: 0.5;
    transform: scale(1.05); /* Aumenta a imagem levemente ao passar o mouse */
}

#home .foto1:hover {
    content: url(../img/Fotos-G/Foto1-Desc.png);
}
#home .foto2:hover {
    content: url(../img/Fotos-G/Foto2-Desc.png);
}
#home .foto3:hover {
    content: url(../img/Fotos-G/Foto3-Desc.png);
}
#home .foto4:hover {
    content: url(../img/Fotos-G/Foto4-Desc.png);
}
#home .foto5:hover {
    content: url(../img/Fotos-G/Foto5-Desc.png);
}
#home .foto6:hover {
    content: url(../img/Fotos-G/Foto6-Desc.png);
}
#home .foto7:hover {
    content: url(../img/Fotos-G/Foto7-Desc.png);
}
#home .foto8:hover {
    content: url(../img/Fotos-G/Foto8-Desc.png);
}

/* Responsividade: 2 fotos por linha em telas menores */
@media (max-width: 1000px) {
    #home .photo {
        width: calc(50% - 15px); /* Duas fotos por linha */
    }
}

#home .slogan {
    width: 50%;
    display: flex;
    flex-direction: column;
    transition: transform 0.6s ease-in;
}
#home .slogan img {
    width: 65%;
}
@media (max-width: 1000px) {
    #home .slogan {
        display: none;
    }
}


#home .slogan:hover {
    transform: scale(1.2);
}

#home .slogan h1 {
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-weight: 1200;
    font-size: 120%;
    transform: scale(1.6);
}

#about {
    display: flex;
    flex-direction: column;
    padding-top: 2%;
    width: 100vw;
    max-height: 100vh;
    overflow: scroll;
}

#about .history {
    display: flex;
    height: 30%;
    width: 100%;
    overflow: scroll;
}
@media (max-width: 1000px) {
    #about {
        display: flex;
        flex-direction: column;
        padding-top: 5%;
        width: 100vw;
        max-height: fit-content;
        overflow: scroll;
    }
    #about .history {
        flex-direction: column;
        height: auto;
        padding: 1% 0% 0% 1%;
    }
    #about .history h2 {
        font-size: 80%;
    }
    #about .history .icon {
        display: none;
    }
}

#about .history .icon {
    transition: 0.5s ease-in-out;
}

#about .vmv {
    display: flex;
    flex-direction: column;
    padding: 1% 0% 6% 1%;
    height: 60%;
    text-align: center;
    overflow: scroll;
}
#about .vmv h1 {
    transition: transform 0.5s ease-in-out;
}
#about .vmv h1:hover {
    transform: scale(1.6);
}
@media (max-width: 1000px) {
    #about .vmv {
        display: flex;
        flex-direction: column;
        padding: 1% 0% 6% 1%;
        height: auto;
        text-align: center;
        overflow: auto;
    }
}

#about .vmv img {
    width: 20%;
    padding-right: 5%;
}
#about .icon {
    display: flex;
    align-items: center;
}

#about .vision {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#about .vision h1 {
    text-align: center;
}
#about .vision img:hover {
    transform: scale(1.1);
    content: url(../img/icons-P/vision2.png);
}

#about .mission {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#about .mission h1 {
    text-align: center;
}
#about .mission img:hover {
    transform: scale(1.1);
    content: url(../img/icons-P/mission2.png);
}

#about .values {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
#about .values h1 {
    text-align: center;
    overflow: scroll;
}
#about .values img:hover {
    transform: scale(1.1);
    content: url(../img/icons-P/values2.png);
}

#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


#contact .title {
    padding-bottom: 1%;
    transform: scale(3);
}

#contact .contacts {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
}

#contact .contacts .whatsapp {
    display: flex;
    align-items: center;
    justify-content: center;
}
#contact .contacts .instagram {
    display: flex;
    align-items: center;
    justify-content: center;
}
#contact .contacts h2 {
    transform: scale(1.5);
}
#contact img {
    scale: 0.5;
    transition: 0.5s;
}
#contact .instagram-img:hover {
    content: url(../img/icons-P/Instagram2.png);
}
#contact .wpp-img:hover {
    content: url(../img/icons-P/whatsapp2.png);
}
#contact .adress {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 2%;
    max-width: 50%;
}
#contact .adress h1 {
    transform: scale(2);
}
@media (max-width: 1000px) { 
    #contact {
        display: flex;
        justify-items: auto;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
    }
    #contact .title {
        transform: scale(1.5);
        padding-top: 6%;
    }
    
    #contact .contacts {
        gap: 0%;
    }
    
    #contact .contacts .whatsapp {
        flex-direction: column;
    }
    #contact .contacts .instagram {
        flex-direction: column;
    }
    #contact .contacts h2 {
        transform: scale(0.8);
    }
    #contact img {
        max-width: 50px;
    }
    #contact .adress {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 2%;
    }
    #contact .adress h1 {
        transform: scale(1);
    }
    #contact .map {
        width: 200px;
        height: 100px;
        display: flex;
        justify-content: center;
    }
}
footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
@media (max-width: 1000px) {
    footer {
        display: none;
    }
}
